<nav class="navbar navbar-inverse navbar-fixed-top mainNav">

    <div class="container" >
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Angular ToDo</a>
        </div>
        <ul class="nav navbar-nav navbar-right" ng-controller="LogOutController">
            <li><a href="/">Home</a></li>
            <li><a href="/todo">ToDO</a></li>
            <li><a href="/accounts/register">Register/Login</a></li>
            <li><a href ng-show="logOut!=undefined" ng-click="removeLogin()">LogOut</a></li>
            <li><a ng-show="logOut!=undefined" href ng-bind-html="greeting" style="text-transform:uppercase; color:red;">{{greeting}}</a></li>
        </ul>
    </div>
</nav>